/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #111;
    color: #ddd;
}

.glow-dot {
    filter: drop-shadow(0 0 6px #00f0ff) drop-shadow(0 0 10px #00f0ff);
}

#root {
    height: 100%;
}

